**instalacja niezbędnych pakietów**

In [29]:
pip install sqlalchemy psycopg2 pandas

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

**Połączenie z bazą danych**

In [20]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

connection_sqlalchemy = db.connect()

**Ćwiczenie nr 1**
Ile kategorii filmów mamy w wypożyczalni?

In [50]:
result_set = db.execute("SELECT category_id FROM category")  #opcja ASC jest domyślna, ORDER BY name ASC nie jest więc niezbędna do wykonania ćwiczenia (funkcja wykrzystana aby pokazać, że była wybrana celowo nie przez przypadek)
for r in result_set:  
    print(r)

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)
(8,)
(9,)
(10,)
(11,)
(12,)
(13,)
(14,)
(15,)
(16,)

**Ćwiczenie nr 2** Wyświetl listę kategorii w kolejności alfabetycznej.

In [32]:
result_set = db.execute("SELECT name FROM category ORDER BY name ASC")  #opcja ASC jest domyślna, ORDER BY name ASC nie jest więc niezbędna do wykonania ćwiczenia (funkcja wykrzystana aby pokazać, że była wybrana celowo nie przez przypadek)
for r in result_set:  
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

**Ćwiczenie nr 3** Znajdź najstarszy i najmłodszy film do wypożyczenia.

In [62]:
result_set = db.execute("SELECT title FROM film WHERE release_year != '2006'")  #opcja ASC jest domyślna, ORDER BY name ASC nie jest więc niezbędna do wykonania ćwiczenia (funkcja wykrzystana aby pokazać, że była wybrana celowo nie przez przypadek)
for r in result_set:  
    print(r)
#SELECT select_list
#FROM table_name
#WHERE condition

Filmy w bazie danych posiadają tą samą date wydania

**Ćwiczenie nr 4** Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?